body {
    background: linear-gradient(to bottom, #003366, #000000); 
    
    background-image: url("../Images/background.png"); 

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}
nav {
    text-align: center;
    padding: 10px 0; /* Adds a little space above and below the links */
}

nav a {
    text-decoration: none; /* Removes the underline from links */
    color: #003366; 
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    gap: 15px; 
}

nav {
    font-size: 25px;


}
